html {
  font-family: Ubuntu, sans-serif;
  font-size: 13px;
}
body {
  padding: 20px;
  background: #eee;
  overflow-y: scroll;
}
a:link, a:visited {
  color: #000;
}
#wrap {
  background: white;
  padding: 40px;
}
pre {
  margin: 20px 0;
  padding: 20px;
  background: #efefef;
}
.general-stats {
  float: right;
  margin: 0 -10px;
}
.general-stats .label {
  float: left;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
}
.lastweek, .alltime {
  float: right;
  margin: 10px 10px 10px 10px;
  overflow: auto;
}
.count-pos, .count-neg {
  float: left;
  padding: 10px 20px;
  margin: 0 0 0 10px;
  font-size: 16px;
  font-weight: bold;
}
.count-pos {
  background: #C7E8C7;
}
.count-neg {
  background: #FFB6B6;
}
table {
  margin: 20px 0px;
  border-collapse: collapse;
  width: 100%;
}
table td, table th {
  padding: 6px 10px;
  text-align: left;
}
table th {

}
table tr.positive {
  background: #C7E8C7;
}
table tr.positive:hover {
  background: #D0F0D0;
}
table tr.negative {
  background: #FFB6B6;
}
table tr.negative:hover {
  background: #FFC4C4;
}
table tr.non-standard-rating {
  background: #aaaaaa;
}
table thead tr {
  border-bottom: 4px solid #eee;
}
.td-rating {
  font-family: "Courier new", sans-serif;
}
.td-index {
  text-align: right;
  color: #666;
}
.td-feedback {
  position: relative;
}
table tr.positive .td-feedback:hover {
  background: #D7F5D7;
}
table tr.negative .td-feedback:hover {
  background: #FFD6D6;
}
.td-feedback .full {
  display: none;
  position: absolute;
  z-index: 1;
  top: 100%;
  right: 0;
  margin: 0 0 20px;
  background: rgba(0, 0, 0, .8);
  color: #eee;
  padding: 10px;
  max-width: 600px;
  min-width: 200px;
  white-space: pre-wrap;
  font-family: Ubuntu, sans-serif;
  font-size: 13px;
  box-shadow: #aaa 0px 0px 10px;
}
.td-feedback:hover .full {
  display: block;
}
.td-feedback .full:hover {
  display: block;
}
.td-feedback .full:before {
  content: ' ';
  display: block;
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid rgba(0, 0, 0, .8);
  top: -5px;
  right: 70px;
  width: 0;
  height: 0;
  line-height: 0;
}
.td-handled {
  text-align: center;
}
.td-date {
  min-width: 200px;
}
.pagination {
  margin: 20px 0px;
}
.pagination a:link, .pagination a:visited, .pagination span {
  display: inline-block;
  padding: 5px 10px;
  background: #eee;
  text-decoration: none;
  color: #333;
}
.pagionation .current {
  font-weight: bold;
}
input[type=text], textarea, select {
  border: 1px solid #ccc;
  padding: 8px 12px;
  font-size: 13px;
  color: #555;
  width: 130px;
}
button {
  border: none;
  padding: 9px 13px;
  font-size: 13px;
  color: #333;
}
button[type=button] {
  background: #eee;
  color: #999;
  cursor: pointer;
  outline-color: #aaa;
}
button[type=submit] {
  background: #4bc800;
  color: white;
  font-weight: bold;
  cursor: pointer;
  outline-color: #2b9800;
}
form.filter input, form.filter label.checkbox {
  margin-right: 10px;
}
form.filter label.checkbox {
  display: inline-block;
  padding: 8px 14px 7px 10px;
}
form.filter label.checkbox:hover {
  background: #fafafa;
}
form.filter button.clear {
  margin-left: 10px;
}
input#id_date_from, input#id_date_to {
  width: 80px;
}

#ui-datepicker-div, .ui-datepicker .ui-datepicker-header {
  border-radius: 0px !important;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  background: #e0e0e0 !important;
  border-color: #a0a0a0 !important;
  color: #555 !important;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  background: #C7E8C7 !important;
  border-color: #94B794 !important;
  color: black !important;
}